$push-speed: 150ms
$rectangle-speed: 300ms

// ========== MIXINS ========== //
@mixin scale-to-0
  -ms-transform: scale(0) /* IE 9 */
  -webkit-transform: scale(0) /* Safari */
  transform: scale(0)

@mixin scale-to-full
  -ms-transform: scale(1) /* IE 9 */
  -webkit-transform: scale(1) /* Safari */
  transform: scale(1)
// ========== END OF MIXINS ========= //

.ez-nav-item
  display: table
  overflow: hidden

  &:hover
    cursor: pointer

  &.ez-nav-fixed-width
    text-align: center


  // =============== BACKGROUND ONHOVER TRANSITION STYLES ============= //
  // background1 when the nav item is not hovered
  // background 2 is for when the nav item is hovered
  // =====  NO ANIMATION ===== //
  .ez-nav-item-background1-none
    background-color: red
  .ez-nav-item-background2-none
    background-color: transparent
  &:hover
    .ez-nav-item-background1-none
      background-color: transparent
    .ez-nav-item-background2-none
      background-color: deepskyblue

    // ===== SLIDE RIGHT ===== //
  .ez-nav-item-background1-slide-right
    background-color: red
  .ez-nav-item-background2-slide-right
    left: -100%
    transition: left $push-speed ease-in-out
  &:hover
    .ez-nav-item-background1-slide-right
      right: -100%
      transition: right $push-speed ease-in-out
    .ez-nav-item-background2-slide-right
      background-color: deepskyblue
      left: 0
      transition: left $push-speed ease-in-out


  // ===== SLIDE LEFT ===== //
  .ez-nav-item-background1-slide-left
    background-color: red
  .ez-nav-item-background2-slide-left
    left: 100%
    transition: left $push-speed ease-in-out
  &:hover
    .ez-nav-item-background1-slide-left
      right: 100%
      transition: right $push-speed ease-in-out
    .ez-nav-item-background2-slide-left
      background-color: deepskyblue
      left: 0
      transition: left $push-speed ease-in-out



  // ===== RECTANGLE IN ===== //
  .ez-nav-item-background1-rectangle-in
    background-color: red
    @include scale-to-full
    transition: transform $rectangle-speed ease-in-out
  .ez-nav-item-background2-rectangle-in
    background-color: deepskyblue
    z-index: -2

  &:hover
    .ez-nav-item-background1-rectangle-in
      @include scale-to-0
      background-color: transparent
      transition: transform $rectangle-speed ease-in-out



  // ===== RECTANGLE BOTH ===== //
  .ez-nav-item-background1-rectangle-both
    background-color: red
    @include scale-to-full
    transition: transform $rectangle-speed ease-in-out

  .ez-nav-item-background2-rectangle-both
    @include scale-to-0
    transition: transform $rectangle-speed ease-in-out

  &:hover
    .ez-nav-item-background1-rectangle-both
      @include scale-to-0
      transition: transform $rectangle-speed ease-in-out
    .ez-nav-item-background2-rectangle-both
      background-color: deepskyblue
      @include scale-to-full
      transition: transform $rectangle-speed ease-in-out




.ez-nav-item-mobile
  display: block

.ez-nav-item-value
  position: relative
  display: table-cell
  vertical-align: middle
  height: 100%
  padding: 5px
  z-index: 1

.ez-nav-item-background
  height: 100%
  width: 100%
  position: absolute
  right: 0
  top: 0
  z-index: -1


